.nav-img {
	float: left;
	margin: auto  0 ;
	padding: 0.5em;
	color: white;
}

.nav-img a{
	color: #ababab;
	font-size: 15px;
}

.nav-img p{
	color: #ababab;
	font-size: 15px;
}

.contacto-item{
	box-sizing: border-box;
	color: #feb327;
	justify-content: center;
	padding: 0 2em;
	max-width: 100%;
	text-align: center;
}

.contactar{
	text-align: center;
	background-color: white;
	padding-top: 3em;
	height: 15em;
}

@media screen and (min-width: 1900px) {
	.contactar{
		text-align: center;
		background-color: white;
		padding-top: 10em;
		height: 33.5em;
	}
}

.contacto-item a{
	color: #feb327;
	text-align: center;
}

.contacto-list{
	list-style: none;
	padding: 2em;
	margin: auto;
}


.nav-redes {
	max-width: 100%;
	width: 100%;
	margin: 0 0;
	padding: 0 2%;
	display: flex;
	justify-content: space-between;
	background-color: #e6e6e6;
	height: 40px;
}

.red-item{
	box-sizing: border-box;
	color: #ababab;
	justify-content: center;
	padding: 0 2em;
	max-width: 100%;
	text-align: center;
}

.red-item a{
	color: #ababab;
}

.red-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin: auto;
}

.footer{
	position: relative;
 bottom: 0;
 width: 100%;
	background-color: black;

}

.footer h4,h3 {
	text-align: center;
	margin-top: 0;
}

.footer-inner{
	max-width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
}
