.nav-img {
	float: left;
	margin: auto  0 ;
	padding: 0.5em;
}

.contacto-item{
	box-sizing: border-box;
	color: #feb327;
	justify-content: center;
	padding: 0 2em;
	max-width: 100%;
	text-align: center;
}

.contactar{
	text-align: center;
	background-color: white;
}

.contacto-item a{
	color: #feb327;
	text-align: center;
}

.contacto-list{
	list-style: none;
	padding: 2em;
	margin: auto;
}


.nav-redes {
	max-width: 1920px;
	width: 100%;
	margin: 0 0;
	padding: 0 2%;
	display: flex;
	justify-content: space-between;
	background-color: #e6e6e6;
	height: 40px;
}

.red-item{
	box-sizing: border-box;
	color: #ababab;
	justify-content: center;
	padding: 0 2em;
	max-width: 100%;
	text-align: center;
}

.red-item a{
	color: #ababab;
}

.red-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin: auto;
}

.footer{
	margin-top: 1px;
	padding: 0 0;
	background-color: black;
	width: 100%;
}

.footer h4,h3 {
	text-align: center;
}

.footer-inner{
	max-width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
}
