.cadenaBusquedaLan {
  display: block;
  margin : 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  color: #101010;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 50%;
  font-size: 18px;
  font-family: "Century Gothic", "AppleGothic", sans-serif;
}

@media (max-width: 600px) {
  .cadenaBusquedaLan {
    display: block;
    margin : 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #101010;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 80%;
    font-size: 18px;
    font-family: "Century Gothic", "AppleGothic", sans-serif;
  }
}


.indexBack {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 1em;
}

.indexBack img{
    width: 100%;
    }

.formulario{
    background-image: url('../images/banner_index2.jpg');
    height: 27em;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 1900px) {
  .formulario{
  background-image: url('../images/banner_index2.jpg');
  height: 31.5em;
  }
}

.botonBusquedaA{
  background-color: rgba(0,0,0,0.65);;
  border-color:black;
  font-size: 19px;
  color: white;
  display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
border-radius: 4px;
}

.botonBusquedaA:hover{
  background-color: black;
  color:white;
  }


#indexPres{
  padding-top:2em;
  text-align: center;
}

h2{
  text-align: center;
  padding-bottom: 1.5em;
}

input::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-webkit-input-placeholder {
    color: #888;
}
