.cadenaBusquedaLan {
  display: block;
  margin : 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  color: #101010;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 50%;
  font-size: 18px;
  font-family: "Century Gothic", "AppleGothic", sans-serif;
}

.indexBack {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
     object-fit: cover;
     padding-bottom: 1em;
}

.indexBack img{
    width: 100%;
    }

.formulario{
background-image: url('../images/lanixAmar.jpg');
height: 30em;
}

#botonBusquedaA{
  background-color: black;
  border-color:black;
  font-size: 19px;
  opacity:0.65;
}
