@media ( min-width : 768px) .navbar-nav {
	float
	:

	right
	;


	margin
	:

	0;
}

.navbar-custom-menu {
  float:right;
	margin: 0 auto;
  padding: 0.5em;
}

.marco-navegacion {
	width: 100%;
	height: 71px;
	background-color:black;
}
